@page "/profile"
@using Blazored.LocalStorage
@using System.Security.Claims
@using Library.Dtos
@using Library.Layout
@using Library.Services
@using Library.Components
@using library.helper
@layout MainLayout


@if (user != null)
{
    <PageLayout Title="Profile">
        <div class="page-container">
            <div>
                <div class="section-title">
                    User data
                </div>
                <UserCard User="user"/>
            </div>
            <div>
                <div class="section-title">
                    Appearance
                </div>
                <div class="profile-section">
                    <Microsoft.AspNetCore.Components.Sections.SectionOutlet SectionName="ThemeSwitcher" />
                </div>
            </div>
        </div>
    </PageLayout>
}

@code {
    [Inject]
    public AuthService authService { get; set; } = null!;
    [Inject]
    public ILocalStorageService localStorageService { get; set; } = null!;

    public UserDto? user { get; set; }

    public bool IsDark { get; set; }

    protected override async Task OnInitializedAsync()
    {
        IsDark = await this.localStorageService.GetItemAsync<bool>("IsDark");
        user= await this.authService.getUserInfo();
    }

    public async Task SetIsDark(bool value)
    {
        IsDark = value;
        await this.localStorageService.SetItemAsync<bool>("IsDark", value);
    }
}
